# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main # Specific executable from your project

# debug information files
*.dwo

# macOS specific
.DS_Store
*.dSYM/
01_Introduction_and_Basics/ex2
Class_Assigment_1/hw1
HW2_212350615/חלק תאורטי עבודה מספר 2 תכנות - נדב מגן - 212350615.docx
ts/Archive.zip
Class_Assigment_3/main
